@import "variables";

body, html, .nucleus-app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  overflow: hidden;
}

.nucleus-app {
  overflow: auto;
}

body {
  font-family: 'museo-sans-rounded',sans-serif;
  font-weight: 500;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: $blackText;
  text-decoration: none;
  cursor: pointer;
  opacity:0.5;

  &:hover {
    opacity:1;
  }
}

.loading {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.25s ease;
  animation: loading-spinner linear 1s infinite;
  
  &.show {
    opacity: 1;
  }
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}