[data-device-type="Philips Hue"] {background-image: url(/assets/images/devices/philips-hue.png);}
[data-device-type="Honeywell Lyric"] {background-image: url(/assets/images/devices/honeywell-lyric.png);}
[data-device-type="Nest Thermostat"] {background-image: url(/assets/images/devices/nest-thermostat.png);}
[data-device-type="LIFX"] {background-image: url(/assets/images/devices/lifx.png);}