.header {
  &.navigation {
    padding: 30px 40px;
    background: #46B3C2;

    img {
      width: 30px;
      height: 30px;
      opacity: 0.25;
      float: left;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;

      &.left {
        float: left;
        padding-left: 25px;

      }

      &.right {
        float: right;

        li {
          opacity: 0.5;

          &:hover {
            opacity: 1;
        }
      }
    }

    li {
      font-size: 16px;
      font-weight: 400;
      color: #FFF;
      display: inline-block;
      padding: 0.35em 1.2em;
      cursor: pointer;

      span {
        padding-bottom: 2px;
      }

      &:hover span {
        border-bottom: 2px solid #74C6D1;
      }
    }
  }
}
}